<html>
<head>
    <title>login</title>
<style>
#forms {
	text-align: center;
}
</style>
</head>
<body>
<h1 text-align="center" color=red>The processing get some time be Funny</h1>
    <form method = "post" action = "/validate">
        <table>
            <tr><td>Name</td><td><input type = 'text' name = 'name'></td></tr>
            <tr><td>Search</td><td><input type = 'text' name = 'search'></td></tr>
            <tr><td><input type = "submit" value = "Submit"></td></tr>
        </table>
    </form>
</body>
</html>